# Global ignores
node_modules
.env

# Ignore admin-specific
admin/node_modules/
admin/.env

# Ignore counter-specific
counter/node_modules/
counter/.env

# Ignore client-specific
client/node_modules/
client/.env

# Ignore server-specific
server/node_modules/
server/.env
